<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UAV Ledger</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f7fa;
            color: #333;
            text-align: center;
            padding-top: 100px;
        }
        header {
            font-size: 2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>UAV Ledger</header>

    {% block content %}
    
    {% endblock %}
</body>
</html>